* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*,
input,
button {
  color: rgb(213, 213, 213);
}
body {
  background-color: rgb(15, 15, 15);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.react-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-modal-content {
  width: 100%;
  max-width: 576px;
  background-color: rgb(46, 46, 46);
  padding: 3rem;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.react-modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: 0;
  background-color: transparent;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(80%);
  }
}
